# Default top-level .gitignore, please review.
dec.yuv
rec.yuv
str.bin
/bin/
/build/
core
/deploy/
/download/
/ext/
/install/
/lib/
*.creator.user
*.sdf
*.suo
.vs/
.vscode/
/build-linux
*.yuv
.*.sw?
/seqs/
#.*
.project
.cproject
/Testing/
/out/
/CMakeSettings.json
.build*/
*tmp*/
out*/
*.suo
*.db
*.opendb
*.user
.nb-gradle
*.iml
.gradle
.idea
local.properties
.DS_Store
.vs
*.exe
*.dll
*.mp4
*.webm
*.yuv
*.y4m
*.m4a
*.wav
*.pcm
*.log
*.kw
*.bit
*.bits
*.h265
*.7z
*.stamp
*.exe
*.lib
*.dll
*.so
*.local
[0-9]
[0-9].*
[0-9][0-9].*
[a-z].*
[a-z].*
testplan.txt
*.json
*.pdf
report*/
~*
*.xls
*.xlsx
*.local
build_*.sh
run-ut_*.sh
__run_cmake__.bat

